<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    <title>Document</title>
</head>
<body>
    
    <header id="recipeNav">
        <a href="{{ url_for('index')}}" class="openbtn">&#9751;</a>
        <div class="searchContainer">
            <a href="{{ url_for('recipe.add_recipes')}}" class="addBtn" onmouseover="showPopup()">+</a>
            <form id="Fsb" action= "{{ url_for('recipe.show_recipes')}}">
                <input class= "searchBar" type="text" placeholder="Search.." name="search">
            </form>
            <a href="{{ url_for('show_favorites')}}" class="favBtn">&#9829;</a>
        </div>
        <h1>Recipes</h1>
    </header>

    <nav id="sideMenu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Home</a>
        <a href="">Favorites</a>
        <a href="">Contact</a>
    </nav>

    <section class="Recipe">
        {% for recipe in recipes %}
            <div class="recipe">
                <img src="{{ url_for('static', filename='uploads/' + recipe.image_url) }}" alt="{{ recipe.title }}">
                <h3>{{ recipe.title }}</h3>
                <p>Category: {{ recipe.category }}</p>
                <a href="{{ url_for('recipe.view_recipe', id=recipe.id)}}">View recipe</a>
                <a href="{{ url_for('recipe.edit_recipe', id=recipe.id)}}">Edit</a>
            </div>
            {% else %}
            <p>No recipes found.</p>
        {% endfor %}
    </section>

    <footer>
        <p>&copy; 2024 Recipe Manager. All Rights Reserved.</p>
    </footer>    
</body>
</html>
