{% extends "Layout.html" %}

{% block title %}Recipes | Recipe Manager{% endblock %}

{% block content %}
    <section class="R-1">
        <div class="search-add-container">
            <a href="{{ url_for('recipe.add_recipes') }}" class="btn btn-add-recipe">Add Recipe</a>
            <form class="search-form" action="{{ url_for('recipe.show_recipes') }}" method="GET">
                <input type="text" name="category" placeholder="Search by category...">
                <button type="submit">Search</button>
            </form>
        </div>
        
    </div>
    </section>

    <section class="Recipe">
        <!-- Loop through the recipes passed from the Flask route -->
        {% for recipe in recipes %}
            <div class="recipe">
                <h3>{{ recipe.title }}</h3>
                <img src="{{ url_for('static', filename='uploads/' + recipe.image_url) }}" alt="{{ recipe.title }}" width="200">
                <a href="{{ url_for('recipe.view_recipe', id=recipe.id)}}">View recipe</a>
                <a href="{{ url_for('recipe.edit_recipe', id=recipe.id)}}">Edit</a>
                <a href="{{ url_for('recipe.delete_recipe', id=recipe.id)}}">Delete</a>
            </div>
            {% else %}
            <p>No recipes found.</p>
        {% endfor %}
    </section>

{% endblock %}